* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  max-width: 100vw;
  background-color: #252525;
  background: url('assets/star-background.jpg');
  background-repeat: repeat;
  background-size: cover;
  color: #dfdfdf;
  letter-spacing: 1.1px;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* _ SHARED CLASSES ============================================= */

.page {
  padding: 40px;
}

.name {
  font-size: 50px;
}

/* ! ====================================================== LOADER */

.change-character-btn {
  position: absolute;
  top: 80px;
  right: 80px;
  padding: 15px 20px;
  border-radius: 6px;
  border: 3px solid #bfde42;
  background-color: #41b4ca;
  color: #bfde42;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.loader-ctr {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-inner-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif-img-ctr {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif-img {
  max-height: 500px;
  max-width: 300px;
}

.loader-portal-ctr {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOutAnimation 1s;
}

.portal-gif-img {
  height: 600px;
  width: 600px;
}

.infinity-1 {
  width: 100%;
  height: 14px;
  background: repeating-linear-gradient(
      90deg,
      currentColor 0 calc(25% - 5px),
      #0000 0 25%
    )
    left/calc(4 * 100%/3) 100%;
  animation: i1 0.5s infinite linear;
}
@keyframes i1 {
  100% {
    background-position: right;
  }
}

/* ! ======================================================== HOME */

.home-ctr {
  position: relative;
}

.container {
  padding: 20px 40px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search-filter-ctr {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  gap: 20px;
}

.form-ctr {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  align-self: center;
}

.search-input-ctr {
  background-color: rgba(37, 37, 37, 0.3);
  outline: 2px solid #5fbe2c;
  border: none;
  height: 36px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.search-input-ctr:focus-within {
  background-color: rgb(95, 190, 44, 0.2);
}

.search-heading {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 40px;
  text-align: center;
}

.search-input {
  color: #dfdfdf;
  background-color: transparent;
  padding: 20px;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  border: none;
  height: 50px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 10px 5px 2px;
  height: 100%;
}

.search-icon {
  height: 22px;
  width: 22px;
}

.results-count {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.results-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 20px;
}

.results {
  width: 70%;
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}

.characters-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: flex-start;
}

.filter-ctr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.filter-select {
  height: 32px;
  width: 100px;
  border: 2px solid #5fbe2c;
  border-radius: 50px;
  color: #5fbe2c;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.filter-select:focus {
  outline: none;
}

.filter-clear-btn {
  background-color: transparent;
  border: none;
  color: #5fbe2c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

/* ! ==================================== SEARCHED Character Card */

.searched-card-ctr {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}
.searched-card-img {
  width: 280px;
  height: 280px;
  border-radius: 8px;
}
.searched-card-name {
  text-align: center;
  color: #dfdfdf;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.8px;
}

/* ! ================================= Pagination */

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.page-btn-ctr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 10px;
}
.page-btn {
  width: 36px;
  height: 36px;
  background-color: #dfdfdf;
  border: none;
}

.page-btn-active {
  width: 36px;
  height: 36px;
  background-color: #878787;
  border: none;
  color: #dfdfdf;
}

.page-btn:hover {
  cursor: pointer;
  background-color: #c3c2c2;
  transition: all 0.2s ease-in-out;
}

.prev-next-btn-ctr {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.arrow-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.arrow-btn:disabled {
  display: none;
}

.arrow-btn-img {
  fill: #dfdfdf;
  height: 24px;
  width: 24px;
}

/* ! ========================================= Character Page */

.character-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: fadeInAnimation ease 1s;
}

.character-card {
  color: #c3c6ce;
  border: 4px solid rgb(51, 93, 96);
  background-color: rgb(32, 33, 36, 0.5);
  max-height: 600px;
  height: 100%;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.character-card-name-img-ctr {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.character-card-img-ctr {
  display: flex;
  justify-content: center;
}

.character-card-img {
  height: 100%;
  width: 240px;
  border-radius: 8px;
}

.all-details-ctr {
  display: flex;
  justify-content: space-evenly;
  max-height: 40%;
  height: 100%;
  width: 100%;
}

.character-card-details-ctr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.character-card-detail-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.character-card-detail-link-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-card-detail-label {
  font-weight: 600;
  font-size: 24px;
}
.character-card-episode-label {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-card-name {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.character-card-text {
  font-size: 30px;
  text-align: end;
}

/* _ +======================= Character Episodes */

.character-episodes {
  width: 45%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.character-card-episodes-ctr {
  height: 100%;
  width: max-content;
  overflow: scroll;
}

.character-card-episodes {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 10px;
}

.episode-link {
  color: #dfdfdf;
}
.location-link {
  color: #dfdfdf;
}

/* ! ==================================== MINI Character Card */

.mini-character-card-ctr {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
}
.mini-character-card-img {
  width: 190px;
  height: 190px;
  border-radius: 6px;
}
.mini-character-card-name {
  text-align: center;
  color: #dfdfdf;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.8px;
}

/* ! ======================================== EPISODE PAGE */

.page-ctr {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  animation: fadeInAnimation ease 1s;
}

.episode-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}

.episode-details {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.episode-characters {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.episode-name {
  font-size: 80px;
  text-align: center;
}
.episode-date {
  font-size: 14px;
}
.season-episode-ctr {
  display: flex;
  gap: 5px;

  font-size: 24px;
}

.episode-characters-label {
  font-size: 24px;
  padding-bottom: 20px;
}

.episode-characters-outer-ctr {
  height: 80%;
  width: 100%;
  border-radius: 6px;
}

.episode-characters-ctr {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 8px;
  overflow: scroll;
}

/* _ ==== Episode Character Card */

.episode-character-card-container {
  display: flex;
  align-items: center;
  gap: 50px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.episode-character-card-img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}
.episode-character-card-name {
  color: #dfdfdf;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 0.8px;
}

/* ! ==================================== LOCATION PAGE */

.location-details {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.location-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.location-name {
  text-align: center;
  width: 100%;
  font-size: 48px;
}
